.home-wrapper {
  margin-top: 65px;
}

.home-wrapper .header-wrapper {
  background-color: #f7f7f7;
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.home-wrapper .header-wrapper .search-wrapper {
  width: 100%;
}

.home-wrapper .content {
  padding: 0 20px 20px 20px;
}

.home-wrapper .title {
  margin: 30px 0;
  text-decoration: none;
}

.home-wrapper .result-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto;
}

@media (min-width: 300px) and (max-width: 767px) {
  .home-wrapper .header-wrapper,
  .home-wrapper .result-list {
    display: block;
  }
}
