.app-bar {
  background-color: #fff !important;
}
.app-bar .logo {
  width: 130px;
}

.app-bar a {
  text-decoration: none;
  color: #000;
}

@media (min-width: 300px) and (max-width: 600px) {
  .app-bar .MuiToolbar-root .MuiButtonBase-root {
    background-color: blue !important;
  }
  .MuiTypography-root .logo {
    width: 100px;
  }
  .MuiTypography-root .link {
    text-decoration: none !important;
  }
}
